/* Global CSS */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: "Roboto", sans-serif;
  -moz-osx-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --primary: #5e3bee;
  --heading-color: #282938;
  --bg-shade: #f5fcff;
  --github: #e62872;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
}

/* src/StarsCanvas.css */

.stars-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
/* src/StarsCanvas.css */

.canvas-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 50vw; /* Adjust width as needed */
  height: 100vh; /* Make sure it covers the full height */
  overflow: hidden; /* Ensure model is contained within this area */
}

/* Navbar Style Start */
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85.333px;
  background: var(--white);
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-section-content > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 42.667px;
  text-decoration: none;
}

.nav-section-content ul > li > a {
  text-decoration: none;
}

.navbar--content {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.navbar--active-content {
  color: var(--primary);
}

.btn-nav {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
  padding: 14px 32px;
  border-radius: 4px;
  transition: background-color 0.5s;
  cursor: pointer;
}

.btn-nav:hover {
  color: var(--white);
  background-color: var(--primary);
}

/* Navbar Style Ends */

/* Parallax Container Style */
.parallax-container {
  height: 100vh; /* Ensure the parallax container takes the full viewport height */
  overflow: auto;
}

/* Parallax Container Style */
.parallax-container-home {
  height: 100vh; /* Ensure the parallax container takes the full viewport height */
  overflow: auto;
}

/* Adjust home section to account for the fixed navbar height */
.home-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 133.333px 85.333px 133.333px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  /*background-color: var(--bg-shade);*/
  margin-top: 65px; /* Adjust this value based on the navbar height */
}

.home-section-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.home-section-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.333px;
}

.home-section-text p {
  margin: 0;
}

.home-section-greeting {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}

.home-section-title {
  color: var(--heading-color);
  font-size: 74.667px;
  font-weight: 700;
  line-height: 90px;
  align-self: stretch;
}

.home-section-title span {
  color: var(--primary);
}

.home-section-description {
  color: var(--darkblue);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.home-section-model {
  display: flex;
}


.home-section-model > model {
  width: 90%; /* Change width to 100% */
  height: 100%;
}

.btn-contact {
  font-family: "Roboto";
  display: inline-block;
  padding: 14px 32px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.5s;
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
}

.btn-contact:hover {
  background-color: var(--white);
  color: var(--primary);
}

@media only screen and (max-width: 1200px) {
  .btn-nav {
    display: none;
  }

  .home-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center; /* Vertically centers content */
         width: 100vw; /* Adjust width as needed */
         height: 150vh; /* Adjust height as needed */
  }

  .home-section-greeting,
  .home-section-title,
  .home-section-description {
      padding-right: 20%; /* Relative padding */
  }

  .home-section-model > model {
    width: 100%;
    height: 100%;
  }

.btn-contact {
  margin-top: 0px; /* Add margin to separate button from text */
}

  .canvas-container {
      position: absolute;
      right: 0;
      top: 0;
      width: 100vw; /* Adjust width as needed */
      height: 85vh; /* Make sure it covers the full height */
      overflow: hidden; /* Ensure model is contained within this area */
    }
}
